.login-form {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    text-align: center;
    }
  
  .window {
    display: flex;
    flex-flow: column wrap;
    background-color: #ffffff;
    max-width: 1000px;
    min-width: auto ;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
    border: 1px solid #aaaaaa;
    border-radius: 1rem;
    margin: 0 auto;
    }