.window {
  display: flex;
  flex-flow: column wrap;
  background-color: #ffffff;
  max-width: 1000px;
  min-width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  border: 1px solid #aaaaaa;
  border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
  .window{
    text-align: center;
  }
}

.busqueda
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.b-container {
  margin: 0 0.5rem;
  flex: 1;
}

.form-field {
  width: 100%;
}